<html>
  <head>
    <title>UA Web Development Club</title>
  </head>
  <body>
      <div class ="row header">
        <div class="container">
          <h1>UA Web Dev Club</h1>
          <p>
            Learn about how the web works all the way to creating your own web app!
            Club is open to anyone and all experience levels!
          </p>
        </div>
      </div>


      <div class="content">
        <section id="about">
            <div class="container">
            <h2>About</h2>
            <p>
              The hope of this club is to help students learn about modern web dev and create their own web apps!
              This club aims to help students add skills to their repertoire and give them the chance to connect with professionals
              about industry web development.
              We welcome all majors and experience levels! We're here to learn together!
              <p>
                Topics that will be covered:
                <ul>
                  <li>How the Web Works</li>
                  <li>HTML/CSS</li>
                  <li>Web Frameworks: Ruby on Rails (MVC Architectural Pattern)</li>
                  <li>Servers</li>
                  <li>JavaScript</li>
                  <li>ReactJS</li>
                  <li>Databases: MySQL</li>
                  <li>Git</li>
              </ul>

            </p>
          </div>
        </section>
        <section id="when">
          <div class="container">
            <h2>When/Where</h2>
            <p>
              Tuesdays at 6pm!
              Room is TBD.
            </p>
          </div>
        </section>
        <section id="events">
          <div class="container">
            <h2>Events</h2>
            <p>
              TBD
            </p>
          </div>
        </section>
        <section id="contact">
          <div class="container">
            <h2>Contact</h2>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas vitae enim vitae urna tristique interdum. Mauris bibendum suscipit magna quis sollicitudin.
              Proin at lorem a odio feugiat consectetur. Nulla laoreet tempus quam, nec gravida sem fringilla a. Mauris vestibulum sapien sapien, eget ullamcorper lacus tempus a.
              Aliquam at risus mauris. Aliquam erat volutpat.
            </p>
          </div>
        </section>
    </div>
  </body>
</html>
