<html>
  <head>
    <title>UA Web Development Club</title>
  </head>
  <body>
      <div class ="header">
        <div class="container">
          <div class="welcome">
            <h1>&#60;UA Web Dev Club&#47;&#62;</h1>
            <p>
              Learn about how the web works all the way to creating your own web app!
              Club is open to anyone and all experience levels!
            </p>
        </div>
        </div>
      </div>


      <div class="content">
        <section id="about">
            <div class="container">
            <h2>About</h2>
            <p>
              The hope of this club is to help students learn about modern web dev and create their own web apps!
              This club aims to help students add skills to their repertoire and give them the chance to connect with professionals
              about industry web development.
              We welcome all majors and experience levels! We're here to learn together!
              <p>
                Topics that will be covered:
                <ul>
                  <li>How the Web Works</li>
                  <li>HTML/CSS</li>
                  <li>Web Frameworks: Ruby on Rails (MVC Architectural Pattern)</li>
                  <li>Bootstrap</li>
                  <li>Servers</li>
                  <li>JavaScript</li>
                  <li>jQuery</li>
                  <li>ReactJS</li>
                  <li>Databases: MySQL</li>
                  <li>Git</li>
                  <li>Heroku</li>
              </ul>

            </p>
          </div>
        </section>
        <section id="when">
          <div class="container">
            <h2>When/Where</h2>
            <p>
              Tuesdays at 6pm!
              Room is TBD.
            </p>
          </div>
        </section>
        <section id="events">
          <div class="container">
            <h2>Events</h2>
            <p>
              TBD
            </p>
          </div>
        </section>
        <section id="news">
          <div class="container">
            <h2>News/Announcements</h2>
            <%= react_component('Blog') %>
          </div>
        </section>
        <section id="contact">
          <div class="container">
            <h2>Contact</h2>
            <div class="contactIcons">
              <a href="mailto:lisazhang@email.arizona.edu"><i class="fa fa-envelope fa-3x" aria-hidden="true"></i></a>
              <a href="https://www.facebook.com/groups/572149922960422/"><i class="fa fa-facebook-official fa-3x" aria-hidden="true"></i></a>
            </div>
          </div>
        </section>
    </div>
  </body>
</html>
